.main-header{
   
    
    width: 100%;
    border-bottom: 1px solid #ebebeb;
    
    
}
.header-container{
    padding:.4rem;
    /* padding: 0.5rem 0.8rem 0.6rem 0.2rem; */
    display: flex;
    align-items: center;
}

.iconImg{
    padding: 4px;
    background-position: center;
    background-size: cover;
    height: 29px;
    width: 29px;
    margin-left: 15px;
    margin-right: 8px;
    border-radius: 50%;
}

.sticky {
    position: fixed;
    top: 0;
    z-index: 1;
    
}


@media screen and (max-width : 480px) {
    .header-title{
        font-size: 12px;
        
    }
    

    
    
    
    
}