.main-header{
   
    
    width: 100%;
    border: 1px solid #ebebeb;
    
    
    
}
.header-container{
    padding:.4rem;
    /* padding: 0.5rem 0.8rem 0.6rem 0.2rem; */
    display: flex;
    align-items: center;
}
.userImage{
    margin: 0 8px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.iconImg svg{
    /* padding: 4px; */
    /* background-position: center;
    background-size: cover; */
    height: 22px;
    width: 22px;
    margin: 4px 8px;
    
    
}

.sticky {
    position: fixed;
    top: 0;
    z-index: 1;
    
}


@media screen and (max-width : 480px) {
    .header-title{
        font-size: 12px;
        
    }
    

    
    
    
    
}