.tweets{
    /* margin: 1rem; */
    /* border: 1px solid #ebebeb; */
    /* background-color: white; */
    /* background-color: #21222d;
    color: #dbdbe5; */
    /* margin-top: 8px; */
    /* margin-bottom: 8px; */
    border-top: 1px solid #DCDCDC;
    border-bottom: 1px solid #DCDCDC;
    /* box-shadow: 5px 5px 5px #ececec; */
    /* border-radius: 5px; */
    
    
}
.retweetFlag{
    height: 15px;
    margin: 6px 10px 0 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.retweetFlag span svg{
    
    width: 15px;
    height: 15px;
    margin-top: 5px;
    margin-left: 5px;
    fill: rgb(83, 100, 113);
}
.image-link{
    font-size: 10px;
    color: #0097a7;
}
.tweet-header{
    display: flex;
    padding: 0.5rem  1.2rem 1rem 0.5rem;
    align-items: center;
}
.tweet-header-fullname-dark{
    font-size: 0.9rem;
    color: rgb(247, 249, 250);;
}
.tweet-header-fullname{
    font-size: 0.9rem;
    color: #222;
}
.tweet-header-id{
    color: #48574f;
    font-size: 0.85rem;
    margin:0.3rem 0.55rem;

}
.tweet-header-id-dark{
    color: #0097a7;
    font-size: 0.85rem;
    margin:0.3rem 0.55rem;

}
.tweet-body{
    padding: 0.3rem 1rem 0.5rem 0.5rem;
    font-size:14px;
    cursor: pointer;
}
.retweet-container{
    border: 1px solid silver;
    margin: auto;
    padding: 1rem;
    border-radius: 8px;
    width: 90%;
    transition: background 0.5s;
}
.retweet-container-dark{
    border: 1px solid silver;
    margin: auto;
    padding: 1rem;
    border-radius: 8px;
    width: 90%;
    transition: background 0.5s;
}
.retweet-container:hover{
    cursor: pointer;
    background-color: #f2f2f2;
}
.retweet-container-dark:hover{
    background-color: #555;
    cursor: pointer;
}
.tweet-footer{
    display: flex;
    justify-content:space-around;
    align-items: center;
    
    /* width: 91%; */
    margin: 1rem;
    
   
    
}
.icon-section{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.icon-section span{
    margin-left: 10px;
    font-size: 13px;
    color: rgb(83, 100, 113);

}
.tweet-footer span{
    cursor: pointer;
    transition: color 0.5s, background 0.5s ;
    
    /* margin-right: 1.5rem;   */
}
.tweet-footer span i{
    font-size: 20px;
    /* margin: 0 3rem; */
    /* transition: color 0.5s ; */
     
}
.like-icon-section span:hover{
    color: tomato;
    
}
.download:hover{
    color: royalblue;
    
    /* transition: color 0.5s ; */
     
}
.chat_bubble:hover{
    color: green;
}
.fa-retweet:hover{
    color: #5ea9dd;
    
    
}

.fa-heart{
    color: red;
}
.fa-heart-o:hover{
    color: red;
    
}

.tweet-footer .retweet-btn:hover{
    
    color: lightskyblue;
}
.num_like{
    color: #e63939;
    font-size: 12px;
    margin-top: 1rem;
    margin-right: 1rem;
    display: flex;
    
    
    
    
}
.num_like svg{
    width: 15px;
    height: 15px;
    fill: red;
    
    
}
.num_like span{
    margin: 0 5px;
    
}
.num_like:hover{
    cursor: pointer;
    color: red;
}
.fa-comment{
    color: black;
}

.hidden-icons{
    display: flex;
    align-items: center;
    margin-right: auto;
    direction: ltr;
    
}

.hidden-icons i{
    margin-right: 8px;
    font-size: 22px;
    padding: 3px;
    cursor: pointer;
}
.hidden-icons i:hover{
    color: #5ea9dd;
    background-color: #e8f4f8;
    border-radius: 50%;
}
.hidden{
    display: none;
    border: 2px solid #add8e6;
    background-color: #fff;
    border-radius: 3px;
    transition: all 2s;
}
.hidden span{
    padding: 6px;
    font-size: 17px;
    cursor: pointer;
}
.hidden span:nth-of-type(1):hover{
    color: darkorange;
    
}


.hidden span:nth-of-type(2):hover{
    color: #7a7a38;
    
}

.hidden span:nth-of-type(3):hover{
    color: #e63939;
    
}

.show{
    display: block;
}

.retweet-icon-section{
    position: relative;
}

.retweet-choices{
    overflow: hidden;
    display: none;
    position: absolute;
    left: 0;
    top: 20px;
    background-color: #fff;
    border: 1px solid #f2f2f2;
    border-radius: 5px;
    box-shadow: 2px 2px 3px #999;
    width: 140px;
    transition: opacity 1s ease-out;
}
.retweet-choices-dark{
    overflow: hidden;
    display: none;
    position: absolute;
    left: 0;
    top: 20px;
    background-color: #333;
    border: 1px solid #333;
    border-radius: 5px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 1);
    width: 140px;
    transition: opacity 1s ease-out;
}
.retweet-choices p{
    display: flex;
    transition: opacity 1s ease-out;
    color: #333;
    font-size: 11px;
    padding: 6px 8px;
    font-weight: 570;
    
}
.retweet-choices-dark p{
    display: flex;
    transition: opacity 1s ease-out;
    color: #ccc;
    font-size: 11px;
    padding: 6px 8px;
    font-weight: 570;
    
}
.retweet-choices svg{
    width: 16px;
    height: 16px;
    transition: color 0.5s;
    margin-left: 5px;
    fill: rgb(83, 100, 113);
}
.retweet-choices-dark svg{
    width: 16px;
    height: 16px;
    transition: color 0.5s;
    margin-left: 5px;
    fill: rgb(83, 100, 113);
}
.retweet-choices p:hover{
    
    background-color: #f2f2f2;
    
    
}
.retweet-choices-dark p:hover{
    
    background-color: #555;
    
    
}
.show-retweet-choice{
    display: block;
    
}

@media screen and (max-width : 480px) {
    .tweet-footer span i{
        font-size: 18px;
        margin: 0 1rem;
        
         
    }

    .tweet-body{
        padding: 0.3rem 1rem 0.5rem 0.5rem;
        font-size:15px;
        cursor: pointer;
    }
    .num_like{
        font-size: 11px;
    }

}