.modal-container{
    /* display: none; */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    
}
.modal{
    
    position: absolute;
    z-index: 2;
    width: 60vw;
    left: 50%;
    
    
    /* transform: translateY(20px); */
    /* top: -300px; */
   
     
    transform: translate(-50%, -100%);  
    /* margin: auto; */
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    animation-name: animatetop;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-duration: 0.4s
}

@keyframes animatetop {
    from {transform: translate(-50%, -100%); opacity:0}
    to {transform: translate(-50%, 30%); opacity:1}
}
.tweet-modal-header{
    border-radius: 6px;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
}
.tweet-modal-header svg{
    position: absolute;
    margin: auto 0;
    left: 50%;
    bottom: 33%;
    width: 33px;
    height: 33px;
    fill: #fff;
    
}
.target-tweet{
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    border: 2px solid #ccc;
    border-radius: 6px;
}
.modal-header{
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}
.m-fullname{
    font-size: 14px;
    margin-right: 10px;
    font-weight: bold;
}
.m-username{
    font-size: 13px;
    margin-right: 10px;
    direction: ltr;
}
.target-content{
    font-size: 13px;
    margin-right: 5px;
    
}
.modal-body{
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin:0 1rem;
    padding: 1rem;
    
    
    /* rgb(29, 155, 240) */
}
.modal-image-upload{
    width: 80%;
    height: 200px;
    object-fit: cover;
    overflow: hidden;
    margin: 0 1rem;
    border-radius: 6px;
}
.m-image-closeBtn{
    top: 10px;
    left: 19%;
    cursor: pointer;
    position: absolute;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    padding: 5px;
    background-color: #111;
    color: #fff;
    transition: all 0.5s;
}
.m-image-closeBtn:hover{
    background-color: #333;
}
.upload-medias{
    position: relative;
    margin: 0 1rem;
    display: flex;
    align-items: center; 
    justify-content: flex-end;
}
.upload-medias-dark{
    position: relative;
    margin: 0 1rem;
    display: flex;
    align-items: center; 
    justify-content: flex-end;
}

.upload-medias span{
    padding: 6px;
    border-radius: 50px;
    cursor: pointer;
    color: rgb(29, 155, 240) ;
    transition: all 0.5s;
}
.upload-medias-dark span{
    padding: 6px;
    border-radius: 50px;
    cursor: pointer;
    color: rgb(29, 155, 240) ;
    transition: all 0.5s;
}   
.upload-medias span:hover{
    background-color: lightblue;
    
}
.upload-medias-dark span:hover{
    background-color: #444;
    
}
.upload-medias span svg{
    vertical-align: middle;
    width: 20px;
    height: 20px;
}
.upload-medias-dark span svg{
    vertical-align: middle;
    width: 20px;
    height: 20px;
}
.tweet-textarea{
    font-size: 13px;
    padding: 10px 8px;
    flex: 1;
    border: none; 
    outline: none;
    background: transparent;
    margin: 5px 10px;
    resize: none;
    
    
}
.user-image-modal{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.modal-footer{
    border-top: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 1rem;
}

.modal-footer button{
    outline: none;
    padding: 5px 10px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 12px;
    transition: all 0.4s;
}

.add-tweet{
    
    border: 1px solid #319FD9 ;
    margin-left: 1rem;
    color: #EAEBEF;
    background-color: #319FD9;
    
}
.add-tweet:hover{
    border: 1px solid #438DDC ;
    background-color: #438DDC;
    
}

.cancle-tweet{
    border: 1px solid #37463E ;
    background-color: #fff;
    color: #37463E;
}

.cancle-tweet:hover{
    
    background-color: #ccc;
    
}

.new-tweet-loading{
    opacity: 0.6;
}

@media screen and (max-width : 480px) {
    .modal{
        width: 100vw;
        height: 100vh;
        left: 0;
        transform: translate(0, -100%); 
        border-radius: unset;
        
    }
    @keyframes animatetop {
        from {transform: translate(0%, -100%); opacity:0}
        to {transform: translate(0%, 0%);; opacity:1}
    }

}