.modal-container{
    /* display: none; */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
    
}
.modal{
    position: absolute;
    z-index: 2;
    width: 45%;
    top: -300px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    animation-name: animatetop;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-duration: 0.4s
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:30%; opacity:1}
}
.target-tweet{
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    border: 2px solid #ccc;
    border-radius: 6px;
}
.modal-header{
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}
.m-fullname{
    font-size: 14px;
    margin-right: 10px;
    font-weight: bold;
}
.m-username{
    font-size: 13px;
    color: rgb(128, 128, 128);
    margin-right: 10px;
    direction: ltr;
}
.target-content{
    font-size: 13px;
    margin-right: 5px;
    
}
.modal-body{
    display: flex;
    align-items: center;
    margin-right: 1rem;
    padding: 1rem;
}
.tweet-textarea{
    font-size: 13px;
    padding: 10px 8px;
    flex: 1;
    border: none; 
    outline: none;
    background: transparent;
    margin-left: 10px;
    resize: none;
}
.user-image-modal{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.modal-footer{
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 1rem;
}

.modal-footer button{
    outline: none;
    padding: 5px 10px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 12px;
    transition: all 0.4s;
}

.add-tweet{
    
    border: 1px solid #319FD9 ;
    margin-left: 1rem;
    color: #EAEBEF;
    background-color: #319FD9;
    
}
.add-tweet:hover{
    border: 1px solid #438DDC ;
    background-color: #438DDC;
    
}

.cancle-tweet{
    border: 1px solid #37463E ;
    background-color: #fff;
    color: #37463E;
}

.cancle-tweet:hover{
    
    background-color: #ccc;
    
}

.new-tweet-loading{
    opacity: 0.6;
}