.input-wrapper{
    position: relative;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex: 1;
    height: 60px;
    border: 2px solid #cccc;
    margin: 20px;
    
    
    
}
.input-Editable{
    position: relative;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex: 1;
    height: 60px;
    border: 2px solid #cccc;
    margin: 20px;
    

}
.inner-input{
    width: 100%;
    direction: rtl;
    outline: none;
    border: none;
    position: absolute;
    top: 25px;
    right: 6px;
    z-index: 1;
    padding: 5px;
    background-color: transparent;
    
    
}

.input-wrapper::before{
    direction: rtl;
    content: attr(wrapper-label);
    font-size: 0.85rem;
    color: #737373;
    transition: all 0.5s;
    position: absolute;
    top: 30%;
    right: 10px;
    
}
.input-Editable::before{
    direction: rtl;
    content: attr(wrapper-label);
    font-size: 0.85rem;
    color: #737373;
    transition: all 0.5s;
    position: absolute;
    top: 10%;
    right: 10px;
    
}
.input-wrapper:focus-within{
    border: 2px solid #438DDC;
}
.input-Editable:focus-within{
    border: 2px solid #438DDC;

}

.selected-input::before{
    direction: rtl;
    content: attr(wrapper-label);
    color: #438DDC;
    font-size: 12px;
    top: 10%;
    right: 10px;

}

.blank-error{
    border: 2px solid tomato;
}