.follow-btn {
  
    align-self: center;
    cursor: pointer;
    outline: none;
    border: 2px solid rgb(0, 170, 238);
    background-color: rgb(0, 170, 238); 
    
    border-radius: 20px;
    padding: 8px 20px;
    color:#fff;
    font-size: 13px;
}
  
.f-follow-btn{
    align-self: center;
    cursor: pointer;
    outline: none;
    border: 2px solid rgb(0, 170, 238); 
      
    
    border-radius: 20px;
    padding: 8px 17px;
    
    
    
    color:rgb(0, 170, 238); 
    
    font-size: 13px;
  
}
.follow-btn-dark{
  
    align-self: center;
    cursor: pointer;
    outline: none;
    border: none;
    /* border: 1px solid rgb(0, 170, 238); */
    background-color: rgb(239, 243, 244);
    border-radius: 20px;
    padding: 8px 18px;
    color:#000;
    font-size: 13px;
    transition: all 0.4s;
    
}
.f-follow-btn-dark{
    align-self: center;
    cursor: pointer;
    outline: none;
    border: none;
    
    border-radius: 20px;
    padding: 8px 17px;
    background-color: rgb(239, 243, 244);
    color: #000;
    
    font-size: 13px;
    transition: all 0.4s;
  
}
  
.follow-btn:hover {
   
    background-color: #aaa;
    
}
.follow-btn-dark:hover{
    opacity: 0.8;
}
.f-follow-btn-dark:hover{
    background-color: #aaa;

}
@media screen and (max-width : 480px) {
    .follow-btn{
        padding: 8px 10px;
        font-size: 11px;
        margin-left: 5px;
    }
    .f-follow-btn{
        padding: 8px 10px;
        font-size: 11px;
        margin-left: 5px;
    }
    .follow-btn-dark{
        padding: 8px 10px;
        font-size: 11px;
        margin-left: 5px;
    }
    .f-follow-btn-dark{
        padding: 8px 10px;
        font-size: 11px;
        margin-left: 5px;
    }
    
    
    

    
    
    
    
}